:root {
  --arrow: #555;
  --light: #eee;
}

.arrow-parent {
  display: inline-block;
}

.arrow {
  height: 40px;
  width: 40px;
  transform: rotate(45deg);
  border-bottom: 2px solid var(--arrow);
  border-right: 2px solid var(--arrow);
}

#about .arrow {
  border-bottom: 2px solid var(--light);
  border-right: 2px solid var(--light);
}
