<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Personal home page of Will Johnson">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Will Johnson - Web Developer</title>

    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/macbook.css">
    <link rel="stylesheet" href="styles/coffee.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/smooth-scroll.css">
    <!-- endbuild -->
  </head>
  <body>
    <header id="header">
      <a v-for="link in links" data-scroll href="{{link.url}}" id="header-{{link.title}}">{{link.title}}</a>
    </header>
    <section class="hero">
      <section id="intro">
        <section id="name">
          <div id="name-first">Will</div><div id="name-last">Johnson</div>
        </section>
        <section id="title">
          <svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 236 232"><defs><style>.a,.b,.c,.d{fill:none;stroke-linecap:round;stroke-miterlimit:10;}.a,.b{stroke:#555;}.a{stroke-width:2px;}.b,.c,.d{stroke-width:3px;}.c{stroke:#05aefc;}.d{stroke:#09fc83;}</style></defs><title>logo</title><ellipse class="a" cx="118" cy="116" rx="117" ry="115"/><path class="b" d="M224.5,387v81.5c0,19.88,14.1,36,31.5,36h0c17.4,0,31.5-16.12,31.5-36V432" transform="translate(-170 -323)"/><path class="c" d="M350.5,387v86A31.5,31.5,0,0,1,319,504.5h0A31.5,31.5,0,0,1,287.5,473V432" transform="translate(-170 -323)"/><polyline class="d" points="199 61.5 163 61.5 127 61"/></svg>
          <div id="title-first">Web</div><div id="title-second">Developer</div>
        </section>
        <section id="links">
          <a v-for="link in links" href="{{link.url}}">
            <svg class="logo-{{link.title}}" viewbox="{{link.viewbox}}">
              <use xlink:href="{{link.logo}}"></use>
            </svg>
          </a>
        </section>
      </section>
      <smooth-scroll link="#about"></smooth-scroll>
    </section>
    <section id="about">
      <h1 id="about-header" class="section-header">{{header}}</h1>
      <p id="about-text">
        {{aboutText}}
      </p>
      <p id="about-text-2">
        {{{aboutText2}}}
      </p>
      <section id="computerAndCoffee">
        <my-macbook></my-macbook>
        <my-coffee></my-coffee>
      </section>
    </section>
    <section id="projects" class="projects open-source">
      <h1 id="projects-header" class="section-header">{{header}}</h1>
      <p class="section-desc">{{{desc}}}</p>
      <div class="project" v-for="project in projects">
        <a href="{{project.url}}">{{project.title}}</a>
        <div class="project-desc">{{project.desc}}</div>
      </div>
    </section>
    <section class="projects experiments">
      <h1 class="section-header">Experiments</h1>
      <p class="section-desc">
        Here are some of my experiments. See more on my <a href="http://codepen.io/willalanjohnson/">CodePen</a>.
      </p>
      <div class="codepen-embeds">
        <div class="codepen-embed">
          <p data-height="415" data-theme-id="0" data-slug-hash="epRbvb" data-default-tab="result" data-user="willalanjohnson" class='codepen'>See the Pen <a href='http://codepen.io/willalanjohnson/pen/epRbvb/'>Digital Business Card</a> by Will Johnson (<a href='http://codepen.io/willalanjohnson'>@willalanjohnson</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
          <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
        </div>
        <div class="codepen-embed">
          <p data-height="415" data-theme-id="0" data-slug-hash="vOmyqd" data-default-tab="result" data-user="willalanjohnson" class='codepen'>See the Pen <a href='http://codepen.io/willalanjohnson/pen/vOmyqd/'>iBooks</a> by Will Johnson (<a href='http://codepen.io/willalanjohnson'>@willalanjohnson</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
          <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
        </div>
        <div class="codepen-embed">
          <p data-height="573" data-theme-id="0" data-slug-hash="pJmjMP" data-default-tab="result" data-user="willalanjohnson" class='codepen'>See the Pen <a href='http://codepen.io/willalanjohnson/pen/pJmjMP/'>iOS iCloud icon</a> by Will Johnson (<a href='http://codepen.io/willalanjohnson'>@willalanjohnson</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
          <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
        </div>
        <div class="codepen-embed">
          <p data-height="573" data-theme-id="0" data-slug-hash="jPwNVK" data-default-tab="result" data-user="willalanjohnson" class='codepen'>See the Pen <a href='http://codepen.io/willalanjohnson/pen/jPwNVK/'>WWDC15</a> by Will Johnson (<a href='http://codepen.io/willalanjohnson'>@willalanjohnson</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
          <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
        </div>
      </div>
    </section>
    <section id="contact">
      <h1 class="section-header">{{header}}</h1>
      <p class="section-desc">{{{message}}}</p>
      <div class="contact-methods">
        <a v-for="svg in svgs" href="{{svg.url}}">
          <svg class="logo-{{svg.title}}" viewbox="{{svg.viewbox}}">
            <use xlink:href="{{svg.logo}}"></use>
          </svg>
        </a>
      </div>
    </section>
    <my-footer></my-footer>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/vue/dist/vue.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/macbook.js"></script>
    <script src="scripts/coffee.js"></script>
    <script src="scripts/footer.js"></script>
    <script src="scripts/smooth-scroll.js"></script>
    <!-- endbuild -->
  </body>
</html>
